<div class="mt-4">
  <h3>My Courses</h3>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col" colspan="2">Time Create</th>
      </tr>
    </thead>
    <tbody>
        {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
            <a href="" class="btn btn-link">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>